<div class="w-full flex content-center justify-center">
  <div class="w-7/12 bg-white shadow border border-gray-200 p-4">
    <h2
      class="bg-blue-500 text-white font-bold rounded text-xs p-1 px-2 inline">
      VÍDEO
    </h2>
    <form id="form" class="mt-5">
      <div class="grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-6">
        <div class="col-span-6">
          <label
            for="title"
            class="block text-sm font-bold leading-6 text-gray-900">
            Título
          </label>
          <div class="mt-2">
            <input
              value="{video.title ? video.title : ''}"
              type="text"
              name="title"
              id="title"
              autocomplete="given-name"
              class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
          </div>
        </div>

        <div class="col-span-6">
          <label
            for="description"
            class="block text-sm font-bold leading-6 text-gray-900">
            Descrição
          </label>
          <div class="mt-2">
            <textarea
              name="description"
              id="description"
              autocomplete="given-name"
              class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
      {video.description ? video.description : ''}
    </textarea
            >
          </div>
        </div>
      </div>
      {#insert button}{/}
    </form>
  </div>
</div>
<script src="/static/js/video/crud.js"></script>
<script
  src="https://cdn.tiny.cloud/1/3tnv6j1g5r1q9khkztzvkgdjlpnhm00kpi38trg1f7icv0cb/tinymce/6/tinymce.min.js"
  referrerpolicy="origin"></script>
<script>
  tinymce.init({
    selector: '#description'
  });
</script>
