{#include components/layout}{#pageTitle}Logs{/pageTitle}

<div class="flex items-center justify-center">
  <div class="bg-white rounded shadow w-5/12 p-4">
    <h1 class="font-bold uppercase text-center mt-2 mb-4">Logs</h1>

    <div class="flex justify-center gap-10">
     {#if tasks.isEmpty}
      <div class="bg-white text-black font-bold border rounded p-2">
        <span>No momento ainda não há nenhum logo registrado</span>
      </div>
      {#else}
      <div class="flex flex-col items-start gap-3 font-bold">
        <div
          class="flex items-center flex-col justify-center bg-green-600 rounded p-2 min-w-full">
          Processados
          <span class="text-2xl">{countCompleted}</span>
        </div>
        <div
          class="flex items-center flex-col justify-center bg-yellow-500 rounded p-2 min-w-full">
          Em Processamento
          <span class="text-2xl">{countProcessing}</span>
        </div>
        <div
          class="flex items-center flex-col justify-center bg-red-600 rounded p-2 min-w-full">
          Interrupido
          <span class="text-2xl">{countInterrupted}</span>
        </div>
      </div>

      <ol class="border-l border-blue-300 dark:border-neutral-500">
        {#for log in logs} {#include components/log/card} {log} {/} {/for}
      </ol>
      {/if}
    </div>
  </div>
</div>
{/include}
