{#include components/layout}{#pageTitle}Vídeos{/pageTitle}

<div class="w-5/12 mx-auto flex content-center justify-end gap-2 flex-col">
  <div class="flex justify-end">
    <a
      href="/video/create"
      class="bg-green-600 hover:bg-green-500 text-white font-bold py-1 px-2 rounded">
      Criar novo
    </a>
  </div>
  {#if !videos.isEmpty}
  <div class="flex items-center justify-center gap-2 flex-col">
    {#for video in videos} {#include components/video/card} {video} {/} {/for}
  </div>

  {#else}
  <div
    class="bg-white p-3 flex items-center justify-center border border-gray-200 shadow rounded">
    <span class="font-bold">Ainda não há nenhum vídeo</span>
  </div>

  {/if}
</div>
<script src="/static/js/video/card.js" />

{/include}
