{#include components/layout}
<div class="mx-64 my-10 flex justify-center flex-col">
  <div class="bg-white px-5 pb-4 rounded">
    <h1 class="text-black text-xl font-bold my-4">{video.title}</h1>
    <div class="bg-white border-2 rounded">
      <h2 class="text-black px-4 py-2">{video.description}</h2>
    </div>
  </div>

  <div class="flex items-center justify-items-center justify-center flex-col">
    {#if !video.resolutionPaths.isEmpty}
    <video id="video-player" class="w-8/12 mt-10 rounded" controls>
      {#for resolution in video.resolutionPaths}
      <source
        id="{resolution.resolution.toString.toLowerCase}"
        src="http://localhost:8080/api/video/streaming?videopath={resolution.path}"
        type="video/mp4" />
      {/for}
    </video>

    <div class="my-4 flex items-center justify-items-end gap-3">
      <div>
        <span>Qualidades disponiveis:</span>
      </div>
      <div class="flex items-center gap-3">
        <button
          id="quality-720"
          class="bg-blue-800 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          720p
        </button>
        <button
          id="quality-1280"
          class="bg-blue-800 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          1280p
        </button>
      </div>
    </div>

    {#else}
    <div
      class="flex items-center justify-items-center justify-center flex-col gap-4">
      <span>Video ainda não possui nenhum arquivo</span>
      <input
        type="file"
        accept="video/mp4"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" />
    </div>
    {/if}
  </div>
</div>

<script src="/static/streaming.js"></script>
{/include}
